#intro .btn-intro a, #news .button-news a {
  padding: 15px 40px;
  border-radius: 30px; }

.navbar {
  background-color: transparent;
  padding: 0; }
  .navbar .icons {
    display: none; }
  .navbar .navbar-toggler {
    color: white;
    display: none; }
  .navbar .nav-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 7px 0 6px 45px;
    transition: all 0.5s; }
  .navbar .nav-list {
    padding: 0 15px;
    font-size: 10px;
    padding-left: 45px; }
  .navbar .nav-item a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    transition: all 0.2s; }
    .navbar .nav-item a:hover {
      color: grey !important;
      transition: all 0.2s; }
  .navbar .logo {
    color: white;
    font-weight: 500;
    font-size: 25px; }
  .navbar .icon-navbar {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 7px 20px;
    height: 50px; }
    .navbar .icon-navbar a {
      color: white;
      transition: all 0.2s; }
      .navbar .icon-navbar a:hover {
        color: grey !important;
        text-decoration: none;
        transition: all 0.2s; }
      .navbar .icon-navbar a i {
        margin: 10px 10px; }

.bg-color-white {
  background-color: white;
  padding: 7px 0;
  transition: all 0.5s; }
  .bg-color-white a {
    color: #232323 !important; }
  .bg-color-white .logo {
    color: #232323; }

.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0px;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: none; }
  .pop-up .search {
    margin-top: 50%;
    background-color: rgba(66, 66, 66, 0.849);
    border-radius: 30px;
    color: white;
    overflow: hidden; }
    .pop-up .search .icon {
      margin: 16px; }
      .pop-up .search .icon i {
        color: white;
        font-size: 20px; }
    .pop-up .search .form {
      margin: 5px;
      background-color: transparent;
      color: white;
      border: 0;
      font-family: "Lora", serif;
      font-style: italic; }
  .pop-up ::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */ }

.icon-pop {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  color: #969494;
  transition: all 0.5s; }
  .icon-pop:hover {
    color: white;
    transition: all 0.5s; }
  .icon-pop i {
    font-size: 30px; }

.sidebar {
  background-color: white;
  width: 400px;
  height: 100%;
  z-index: 999999;
  padding: 35px 15px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(800px);
  transition: all 2s; }
  .sidebar .sidebar-title {
    border-bottom: 1px solid #f1f1f1;
    position: relative; }
    .sidebar .sidebar-title h5 {
      font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
      font-weight: 600;
      font-size: 1em;
      padding-bottom: 13px;
      line-height: 1.625em; }
    .sidebar .sidebar-title .close-btn {
      display: inline-block;
      position: absolute;
      top: -10px;
      right: 2%;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background: #727272;
      text-align: center;
      border-radius: 50%;
      transition: all 0.2s;
      cursor: pointer; }
      .sidebar .sidebar-title .close-btn i {
        font-size: 16px;
        color: white; }
      .sidebar .sidebar-title .close-btn:hover {
        background: #363636;
        transition: all 0.2s; }
  .sidebar .sidebar-list {
    list-style-type: none;
    padding: 15px 0;
    padding-right: 20px;
    overflow-y: scroll;
    border-bottom: 1px solid #f1f1f1; }
    .sidebar .sidebar-list .sidebar-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0; }
      .sidebar .sidebar-list .sidebar-list-item .img {
        width: 78px;
        cursor: pointer; }
      .sidebar .sidebar-list .sidebar-list-item .text {
        display: inline-block; }
        .sidebar .sidebar-list .sidebar-list-item .text p {
          padding: 0;
          margin: 0;
          color: #969494; }
      .sidebar .sidebar-list .sidebar-list-item .icon {
        color: #9e9e9e;
        cursor: pointer; }
        .sidebar .sidebar-list .sidebar-list-item .icon:hover {
          color: #686666; }
  .sidebar .total h5 {
    display: inline-block;
    margin-right: 16px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600; }
  .sidebar .total span {
    color: #969494; }
  .sidebar .button {
    text-align: center;
    margin: 55px; }
    .sidebar .button a {
      background-color: #425cbb;
      border-color: #425cbb;
      font-size: 13px;
      padding: 13px;
      text-transform: uppercase; }
      .sidebar .button a:hover {
        background-color: #546cc3;
        border-color: #546cc3; }

.open-side {
  transform: translateX(0px);
  transition: all 1.5s; }

@media only screen and (max-width: 991px) {
  .fixed-top {
    position: relative; }

  .navbar {
    background-color: white !important;
    position: relative; }
    .navbar .navbar-toggler {
      display: block !important; }
      .navbar .navbar-toggler span {
        color: #232323; }
    .navbar .icon-navbar {
      display: none; }
    .navbar .nav-menu {
      padding: 3px 5px;
      position: relative; }
      .navbar .nav-menu .logo {
        color: #232323 !important; }
    .navbar .nav-item a {
      color: #232323 !important; }
    .navbar .icons {
      display: block !important; }
      .navbar .icons .icon-navbar {
        display: block;
        padding: 0;
        height: 0; }
    .navbar .nav-list {
      padding-left: 0; }
      .navbar .nav-list ul li {
        margin-top: 2px; }
        .navbar .nav-list ul li a {
          color: #232323 !important; }
        .navbar .nav-list ul li i {
          margin-top: 5px; } }
#intro {
  background: url("../imgs/bg-intro.jpg");
  width: 100%;
  position: relative;
  height: 100vh;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }
  #intro::before {
    position: absolute;
    content: "";
    background: #1f1f1f;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4; }
  #intro .cent {
    position: relative;
    top: 40%; }
  #intro .logo img {
    height: 8rem; }
  #intro .text-side p {
    margin: 42px 0;
    font-size: 1.4375em;
    color: white;
    font-family: "Lora", "Helvetica", "Arial", sans-serif; }
  #intro .btn-intro {
    margin-top: 15px; }
    #intro .btn-intro a {
      border-radius: 30px;
      background-color: #425cbb;
      border-color: #425cbb; }
      #intro .btn-intro a:hover {
        background-color: #546cc3;
        border-color: #546cc3; }
      #intro .btn-intro a i {
        color: white; }
  #intro .icons {
    position: absolute;
    top: 146%;
    left: 38%;
    color: rgba(202, 202, 202, 0.685); }
    #intro .icons .icon-list {
      list-style-type: none; }
      #intro .icons .icon-list .icon-list-item {
        font-size: 29px;
        margin-right: 18px;
        cursor: pointer;
        display: inline-block;
        transition: all 0.2s; }
        #intro .icons .icon-list .icon-list-item:hover {
          color: white;
          transition: all 0.2s; }

@media only screen and (max-width: 991px) {
  #intro .btn-intro a {
    padding: 9px 15px; }
  #intro .icons {
    top: 211%;
    left: 24%;
    letter-spacing: 1em; } }
@media only screen and (max-width: 767px) {
  #intro {
    height: auto;
    padding: 4em 0; }
    #intro .logo {
      padding-top: 0; }
      #intro .logo img {
        max-height: 4.875em;
        margin-bottom: 1.625em; }
    #intro .text-side p {
      margin: 0px;
      text-align: center;
      font-size: 1.1em;
      text-align: center; }
    #intro .btn-intro a {
      margin-top: 15px;
      margin-bottom: 30px; }
    #intro .icons {
      top: 98%;
      left: 16%; }

  .col-sm-12 {
    justify-content: center; } }
@media only screen and (max-width: 575px) {
  #intro .btn-intro {
    margin-top: 11px;
    margin-bottom: 15px;
    padding: 5px; }
    #intro .btn-intro a {
      padding: 0 10px;
      font-size: 13px; }
  #intro .icons {
    top: 89%;
    left: 24%;
    letter-spacing: 0.5em; }
    #intro .icons li {
      font-size: 13px !important;
      margin-right: 0 !important; } }
#digital {
  padding: 100px 0;
  background-color: #f8f8f8; }
  #digital .title {
    text-align: center; }
    #digital .title h4 {
      color: #343434;
      font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
      font-weight: 600; }
    #digital .title p {
      color: #767676;
      font-family: "Lora", "Helvetica", "Arial", sans-serif;
      font-size: 1.4375em; }

#products {
  background-color: #f8f8f8;
  padding: 0;
  margin: 0; }
  #products .product-list {
    list-style-type: none; }
    #products .product-list .product-list-item {
      display: inline-block;
      color: #a5a0a0;
      font-family: "Lora", "Helvetica", "Arial", sans-serif;
      cursor: pointer;
      font-style: italic;
      transition: all 0.5s; }
      #products .product-list .product-list-item:hover {
        color: #3f3939;
        transition: all 0.5s; }
    #products .product-list em {
      padding: 0 10px;
      color: #b4b4b4; }
    #products .product-list .selected {
      color: #3f3939;
      font-style: italic;
      font-weight: 400;
      cursor: default; }
  #products .items-product {
    position: relative;
    transition: all 0.5s; }
    #products .items-product .overlay-items {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: 0;
      color: white;
      opacity: 0;
      transition: all 0.8s;
      cursor: pointer; }
      #products .items-product .overlay-items .over-text {
        position: absolute;
        top: 24%;
        right: 7%;
        transform: translateY(0);
        transition: all 0.5s; }
        #products .items-product .overlay-items .over-text h4 {
          font-size: 16px;
          margin: 0;
          font-family: "Lora", "Helvetica", "Arial", sans-serif;
          font-weight: bold; }
        #products .items-product .overlay-items .over-text p {
          font-size: 14px;
          margin: 0;
          font-family: "Lora", "Helvetica", "Arial", sans-serif;
          color: white; }
    #products .items-product:hover .over-text {
      transform: translateY(-25px);
      transition: all 0.5s; }
    #products .items-product:hover .overlay-items {
      transition: all 0.8s;
      opacity: 1; }

#creative {
  background-color: #f8f8f8;
  padding: 100px 0;
  margin-top: -16px; }
  #creative .title {
    text-align: center; }
    #creative .title h4 {
      color: #343434;
      font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
      font-weight: 600; }
    #creative .title p {
      color: #767676;
      font-family: "Lora", "Helvetica", "Arial", sans-serif;
      font-size: 1.4375em; }
  #creative .item-creative {
    position: relative;
    margin-top: 100px; }
    #creative .item-creative .overlay-items {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.8s; }
      #creative .item-creative .overlay-items .over-text {
        text-align: center;
        transform: translateX(15px);
        transition: all 0.4s; }
        #creative .item-creative .overlay-items .over-text p {
          font-size: 14px;
          margin: 0;
          font-family: "Lora", "Helvetica", "Arial", sans-serif;
          color: #767676; }
        #creative .item-creative .overlay-items .over-text h4 {
          font-size: 16px;
          margin: 0;
          font-family: "Lora", "Helvetica", "Arial", sans-serif;
          font-weight: bold; }
    #creative .item-creative:hover .over-text {
      transform: translateX(0);
      transition: all 0.4s; }
    #creative .item-creative:hover .overlay-items {
      transition: all 0.8s;
      opacity: 1; }
    #creative .item-creative .overlay-items .icons ul {
      list-style-type: none;
      position: absolute;
      bottom: 8%;
      left: 9%; }
      #creative .item-creative .overlay-items .icons ul li {
        font-size: 18px;
        letter-spacing: 1.7em;
        display: inline-block;
        margin-right: 10px;
        color: #969494;
        transition: all 0.5s; }
        #creative .item-creative .overlay-items .icons ul li:hover {
          color: white;
          transition: all 0.5s; }

@media only screen and (max-width: 767px) {
  #creative .overlay-items .icons {
    left: 2% !important; }
    #creative .overlay-items .icons ul {
      list-style-type: none;
      position: absolute;
      bottom: 4%;
      left: 4%;
      margin-left: -17px; }
      #creative .overlay-items .icons ul li {
        font-size: 13px !important;
        letter-spacing: 10px !important;
        margin-right: 0 !important; } }
#parallax {
  padding: 100px 0;
  background-image: url("../imgs/hero2.jpg");
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0; }
  #parallax .item-parallax {
    text-align: center;
    color: white;
    font-family: "Lora", "Helvetica", "Arial", sans-serif; }
    #parallax .item-parallax .icon {
      font-size: 70px; }
    #parallax .item-parallax h5 {
      font-size: 25px;
      font-weight: 600; }
    #parallax .item-parallax span {
      font-style: italic;
      font-size: 18px; }
  #parallax::before {
    position: absolute;
    content: "";
    background: #232323a4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }

#expertise {
  padding: 100px 0;
  background-color: #f8f8f8; }
  #expertise .title {
    text-align: center;
    margin-bottom: 100px; }
    #expertise .title h4 {
      color: #343434;
      font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
      font-weight: 600; }
    #expertise .title p {
      color: #767676;
      font-family: "Lora", "Helvetica", "Arial", sans-serif;
      font-size: 1.4375em; }
    #expertise .title h4 {
      font-size: 28px; }
  #expertise .expertise-item {
    margin-top: 30px;
    display: flex; }
    #expertise .expertise-item .left-item i {
      font-size: 35px;
      margin-right: 17px;
      color: #425cbb; }
    #expertise .expertise-item .right-item h5 {
      font-size: 14px !important;
      margin-bottom: 22px;
      color: #a5a0a0;
      font-weight: 300; }
    #expertise .expertise-item .right-item p {
      color: #a5a0a0;
      font-size: 18px; }

#sentence {
  padding: 0;
  position: relative;
  background-color: #f8f8f8; }
  #sentence::before {
    content: "";
    width: 100%;
    height: 85%;
    position: absolute;
    top: 15%;
    left: 0;
    background-color: #f4f4f4; }
  #sentence .sentence-item {
    margin-top: 33%; }
    #sentence .sentence-item p {
      font-family: "Lora", "Helvetica", "Arial", sans-serif;
      font-size: 1.5em;
      color: #767676;
      font-style: italic; }
    #sentence .sentence-item h5 {
      margin-top: 31px;
      font-size: 17px;
      font-weight: 700; }
    #sentence .sentence-item span {
      font-family: "Lora", "Helvetica", "Arial", sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #969494; }

@media only screen and (max-width: 767px) {
  #sentence::before {
    background-color: #f8f8f8;
    top: 0;
    height: 100%; }
  #sentence .order-image {
    order: 1; }
  #sentence .sentence-item {
    margin-top: 0;
    text-align: center;
    margin-bottom: 13%; } }
#news {
  padding: 100px 0;
  background-color: #f8f8f8; }
  #news .title {
    text-align: center; }
    #news .title h4 {
      color: #343434;
      font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
      font-weight: 600; }
    #news .title p {
      color: #767676;
      font-family: "Lora", "Helvetica", "Arial", sans-serif;
      font-size: 1.4375em; }
  #news .item-news {
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.6s; }
    #news .item-news .card {
      border: 0; }
      #news .item-news .card h6 {
        font-size: 0.7em;
        font-weight: 400;
        color: #767676;
        letter-spacing: 0.17em;
        text-transform: uppercase; }
      #news .item-news .card p {
        font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
        padding: 10px 0 25px;
        font-weight: 400; }
      #news .item-news .card span {
        font-size: 0.7em;
        font-weight: 400;
        color: #767676;
        letter-spacing: 0.179em;
        display: inline-block;
        padding: 13px 0;
        text-transform: uppercase;
        font-family: "Montserrat", "Helvetica", "Arial", sans-serif; }
        #news .item-news .card span em {
          color: #767676;
          font-size: 0.7em;
          letter-spacing: 0;
          font-style: italic;
          font-family: "Lora", "Helvetica", "Arial", sans-serif;
          text-transform: lowercase; }
    #news .item-news:hover {
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.6s; }
  #news .button-news {
    text-align: center; }
    #news .button-news a {
      padding: 10px 70px;
      margin-top: 9%;
      border-radius: 30px;
      border-color: rgba(35, 35, 35, 0.1);
      color: #767676;
      transition: all 0.4s; }
      #news .button-news a:hover {
        border-color: #232323;
        transition: all 0.4s; }

/*# sourceMappingURL=style.css.map */
