#intro .btn-intro a {
  padding: 15px 40px;
  border-radius: 30px; }

#intro {
  background: url("../imgs/bg-intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  position: relative;
  opacity: 1; }
  #intro::before {
    position: absolute;
    content: "";
    background: #1f1f1f;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4; }
  #intro .cent {
    position: relative;
    top: 40%; }
  #intro .logo img {
    height: 8rem; }
  #intro .text-side {
    position: relative;
    top: 45px; }
    #intro .text-side p {
      font-size: 1.4375em;
      color: white; }
  #intro .btn-intro {
    margin-top: 15px; }
    #intro .btn-intro a {
      border-radius: 30px; }
      #intro .btn-intro a i {
        color: white; }

.navbar {
  background-color: transparent;
  padding: 7px 0;
  height: 50px; }
  .navbar .nav-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 17px 0 6px 45px;
    transition: all 0.5s; }
  .navbar .nav-list {
    padding: 0 15px;
    font-size: 10px;
    padding-left: 45px; }
  .navbar .nav-item a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    transition: all 0.2s; }
    .navbar .nav-item a:hover {
      color: grey !important;
      transition: all 0.2s; }
  .navbar .logo {
    color: white;
    font-weight: 500;
    font-size: 25px; }
  .navbar .icon-navbar {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 7px 20px;
    height: 50px; }
    .navbar .icon-navbar a {
      color: white;
      transition: all 0.2s; }
      .navbar .icon-navbar a:hover {
        color: grey !important;
        text-decoration: none;
        transition: all 0.2s; }
      .navbar .icon-navbar a i {
        margin: 10px 10px; }

.bg-color-white {
  background-color: white;
  padding: 7px 0;
  transition: all 0.5s; }
  .bg-color-white a {
    color: black !important; }
  .bg-color-white .logo {
    color: black; }

.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0px;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: none; }
  .pop-up .research .search {
    margin-top: 50%;
    background-color: rgba(66, 66, 66, 0.849);
    border-radius: 30px;
    color: white;
    overflow: hidden; }
    .pop-up .research .search .icon {
      margin: 16px; }
      .pop-up .research .search .icon i {
        color: white;
        font-size: 20px; }
    .pop-up .research .search .form {
      margin: 5px;
      background-color: transparent;
      color: white;
      border: 0;
      font-family: "Lora", serif;
      font-style: italic; }
  .pop-up .research ::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */ }
  .pop-up .icon-pop {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    color: white; }
    .pop-up .icon-pop i {
      font-size: 30px; }

/*# sourceMappingURL=style.css.map */
