@media only screen and (max-width: 991px) {
  #intro {
    .btn-intro {
      a {
        // margin-top: 30px;
        padding: 9px 15px;
      }
    }

    .icons {
      top: 211%;
      left: 24%;
      letter-spacing: 1em;
    }
  }
}
@media only screen and (max-width: 767px) {
  #intro {
    height: auto;
    padding: 4em 0;

    .logo {
      padding-top: 0;
      img {
        max-height: 4.875em;
        margin-bottom: 1.625em;
      }
    }

    .text-side {
      p {
        // font-size: 1em;
        margin: 0px;
        text-align: center;
        font-size: 1.1em;
        text-align: center;
      }
    }

    .btn-intro {
      a {
        // margin-top: 30px !important;
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }

    .icons {
      top: 98%;
      left: 16%;
    }

    ul.product-list {
      padding: 0 !important;

      li.product-list-item {
        font-size: 14px !important;
      }
    }
  }

  .col-sm-12 {
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  ul.product-list {
    li.product-list-item {
      font-size: 14px !important;
    }
  }
}

@media only screen and (max-width: 575px) {
  #intro {
    .btn-intro {
      margin-top: 11px;
      margin-bottom: 15px;
      padding: 5px;
      a {
        padding: 5px 10px !important;
        font-size: 13px;
      }
    }

    .icons {
      top: 89%;
      left: 24%;
      letter-spacing: 0.5em;

      li {
        font-size: 13px !important;
        margin-right: 0 !important;
      }
    }
  }
}
