@media only screen and (max-width: 991px) {
  #intro {
    .btn-intro {
      a {
        // margin-top: 30px;
        padding: 9px 15px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #intro {
    height: auto;
    padding: 4em 0;

    .logo {
      padding-top: 35px;
      img {
        max-height: 4.875em;
        margin-bottom: 1.625em;
      }
    }

    .text-side {
      p {
        // font-size: 1em;
        margin: 0px;
        text-align: center;
      }
    }

    .btn-intro {
      a {
        margin-top: 30px !important;
      }
    }
  }
}
