#creative {
  background-color: $background-color;
  padding: 100px 0;
  margin-top: -16px;

  .title {
    @include title($main-color, $title-head-color);
    text-align: center;
  }

  .item-creative {
    position: relative;
    margin-top: 100px;
    .overlay-items {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      color: $secondary-color;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.8s;
      .over-text {
        text-align: center;
        transform: translateX(15px);
        transition: all 0.4s;
        p {
          font-size: 14px;
          margin: 0;
          font-family: $font-lora;
          color: $main-color;
        }

        h4 {
          font-size: 16px;
          margin: 0;
          font-family: $font-lora;
          font-weight: bold;
        }
      }
    }

    &:hover .over-text {
      transform: translateX(0);
      transition: all 0.4s;
    }

    &:hover .overlay-items {
      transition: all 0.8s;
      opacity: 1;
    }

    // @include icons;

    .overlay-items {
      // @include icons;
      .icons {
        ul {
          list-style-type: none;
          position: absolute;
          bottom: 8%;
          left: 9%;
          li {
            font-size: 18px;
            letter-spacing: 1.7em;
            display: inline-block;
            margin-right: 10px;
            color: $primary-color;
            transition: all 0.5s;

            &:hover {
              color: $secondary-color;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }

  // @include icons;
}

@media only screen and (max-width: 991px) {
  #creative {
    // order: ;

    .icons {
      ul {
        left: 0% !important;

        li {
          font-size: 16px !important;
          letter-spacing: 0.8em !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #creative {
    // order: ;
    .overlay-items {
      // @include icons;
      .icons {
        left: 2% !important;
        ul {
          bottom: 10% !important;
          left: 17% !important;
          margin-left: -17px;
          li {
            font-size: 20px !important;
            letter-spacing: 1.7em !important;
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}
