#top-footer {
  background-color: #232323;
  padding: 70px 0;
  position: relative;

  //   position: relative;

  .footer-top-item {
    .logo {
      width: 100px;
    }

    p {
      color: $footer-text;
      font-style: italic;
      font-family: $font-lora;
      margin: 25px 0;
      font-weight: 500;
      //   color: ;
    }

    .footer-list {
      list-style: none;
      padding: 0;
      margin-top: 30px;
      .footer-list-item {
        margin-bottom: 0.4em;
        a {
          font-family: $font-montser;
          color: #7d7d7d;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.72em;
          letter-spacing: 1.1px;
          font-weight: 500;
          transition: all 0.6s;

          &:hover {
            color: $footer-text;
            transition: all 0.6s;
          }
        }
      }
    }
  }

  h6 {
    color: $footer-text;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1px;
  }
  .text {
    color: $footer-text;
    p {
      font-family: $font-lora;
      font-style: normal;
      margin-top: 38px;

      a {
        text-decoration: underline;
        color: $footer-text;
        //   text-transform: unde;
        transition: all 0.5s;

        &:hover {
          color: #a5a5a5;
          transition: all 0.5s;
        }
      }
    }
  }

  .subs {
    color: $footer-text;
    margin-left: 15px;
    p {
      font-family: $font-lora;
      font-style: normal;
      margin: 40px 0 29px;
    }
  }

  .input {
    input {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      padding: 30px;

      &::placeholder {
        font-style: italic;
        font-family: $font-lora;
      }
    }
    button {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: $btn-color;
      color: $secondary-color;
      border-color: $btn-color;
      text-transform: uppercase;
      padding: 0 30px;
    }

    //
    margin-bottom: 13%;
  }

  .icons {
    cursor: pointer;
    color: #7d7d7d;
    transition: all 0.3s;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        font-size: 1.08em;
        letter-spacing: 1.5em;
        margin-top: 32px;
        &:hover {
          //   li {
          color: $footer-text;
          transition: all 0.3s;
          //   }
        }
      }
    }
  }
}

#bottom-footer {
  background-color: #1e1e1e;
  padding: 40px 0;

  span {
    color: #7d7d7d;
    font-size: 0.7em;
  }

  .icon {
    position: absolute;
    bottom: 41px;
    right: 18%;
    cursor: pointer;
    a {
      display: inline-block;
      background-color: #3d3d3d;
      color: white;
      font-size: 20px;
      width: 60px;
      height: 60px;
      line-height: 56px;
      border-radius: 50%;
      text-align: center;
      transition: all 0.5s;
    }

    &:hover {
      a {
        transform: translateY(-10px);
        transition: all 0.5s;
      }
    }
  }
}

@media only screen and (max-width: 771px) {
  #bottom-footer {
    .icon {
      bottom: 55px;
    }
  }
}

@media only screen and (max-width: 575px) {
  #top-footer {
    .input-group-append {
      width: 100% !important;
      margin-top: 18px !important;

      button {
        border-radius: 30px !important;
        width: 100% !important;
        padding: 6px !important;
      }
    }

    .form-control {
      border-radius: 30px !important;
      padding: 23px !important;
    }
  }

  #bottom-footer {
    text-align: center !important;
    padding: 17px 0 !important;
    .icon {
      // bottom: 55px;

      position: static !important;
      margin-top: 25px !important;
      a {
        font-size: 18px !important;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
      }
    }
  }
}
