#intro {
  background: url("../imgs/bg-intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  position: relative;
  opacity: 1;

  &::before {
    position: absolute;
    content: "";
    background: #1f1f1f;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // z-index: 1;
    opacity: 0.4;
  }

  .cent {
    position: relative;
    top: 40%;
  }

  .logo {
    img {
      height: 8rem;
    }
  }

  .text-side {
    position: relative;
    top: 45px;
    p {
      font-size: 1.4375em;
      color: $secondary-color;
    }
  }

  .btn-intro {
    margin-top: 15px;

    a {
      @extend %btn-shared;
      border-radius: 30px;
    }
  }
}
