%btn-shared {
  padding: 15px 40px;
  border-radius: 30px;
}

@mixin title($p-color, $h-color) {
  h4 {
    color: $h-color;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    // text-align: center;
  }
  p {
    color: $p-color;
    font-family: "Lora", "Helvetica", "Arial", sans-serif;
    font-size: 1.4375em;

    // text-align: center;
  }
}

@mixin icons {
  position: absolute;
  top: 146%;
  left: 38%;
  color: rgba(202, 202, 202, 0.685);

  .icon-list {
    list-style-type: none;
    .icon-list-item {
      font-size: 29px;
      margin-right: 18px;
      cursor: pointer;
      display: inline-block;
      transition: all 0.2s;

      &:hover {
        color: $secondary-color;
        transition: all 0.2s;
      }
    }
  }
}
