$primary-color: #969494;
$primary-color-bold: #686666;
// $primary-color-light: #9e9e9ecb;
$secondary-color: white;
$btn-color: #425cbb;
$btn-hover-color: #546cc3;
$primary-responsive-color: #232323;
$title-head-color: #343434;
$main-color: #767676;
$main-light-color:#a5a0a0;
$main--bold-color: #3f3939;
$background-color: #f8f8f8;
