#contact-item {
  //   padding: 100px 0;
  .b-white {
    background-color: $secondary-color;
  }

  .b-gray {
    background-color: $footer-text;
  }

  .b-dark {
    background-color: $primary-responsive-color;
    color: $secondary-color !important;

    a {
      color: $footer-text;
      transition: all 0.4s;

      &:hover {
        color: $main-color;
        transition: all 0.4s;
      }
    }
  }

  .item-contact {
    padding: 25% 0;
    margin: 0;
    text-align: center;

    height: 100%;
    .icon-contact {
      // text-align;
      font-size: 3.6em;
      //   margin-bottom: 0.5em;
    }

    h4 {
      font-family: $font-montser;
      font-size: 1.3em;
      font-weight: 600;
      margin: 20px 0;
    }
    p {
      color: $main-color;
      font-family: $font-lora;
      font-size: 0.978em;
    }
  }
}
