.contact-body {
  background-color: $background-color;
}

#contact-intro {
  background-image: url("../imgs/contact-intro.jpg");
  padding: 170px 0;
  background-size: cover;
  background-position: 50% 50% !important;
  background-attachment: fixed;
  position: relative;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;

  &::before {
    position: absolute;
    content: "";
    background: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // z-index: 1;
    opacity: 0.6;
  }

  .text-intro-contact {
    color: #f5f5f5;
    text-align: center;
    z-index: 2;
    animation: fadeInUp 1s;

    h2 {
      font-weight: 600;
      font-family: $font-montser;
    }
    p {
      font-family: $font-lora;
      font-size: 1em;
      margin-top: 26px;
      font-weight: 600;
      line-height: 27px;
    }
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@media only screen and (max-width: 991px) {
  #contact-intro {
    background-attachment: scroll;
    padding: 100px 0 !important;
    padding-top: 70px !important;

    p {
      margin: 5px !important;
    }
  }
}
